.vscodelook {
  font-family:'Courier New', Courier, monospace;
  background-color: #1E1E1E;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}

.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}